<%inherit file="/user_base.html"/>

<!--script src="${STATIC_URL}client/controllers/home.js" type="text/javascript"></script-->
<script src="${STATIC_URL}client/controllers/site.js" type="text/javascript"></script>

<!--IP检测-->
<script src="${STATIC_URL}client/controllers/user_pages/myIPCtrl.js" type="text/javascript"></script>
<script src="${STATIC_URL}client/controllers/user_pages/ipDetectionCtrl.js" type="text/javascript"></script>
<script src="${STATIC_URL}client/controllers/user_pages/ipApplyCtrl.js" type="text/javascript"></script>
<script src="${STATIC_URL}client/controllers/user_pages/newApplyCtrl.js" type="text/javascript"></script>
<script src="${STATIC_URL}client/controllers/user_pages/checkApplyCtrl.js" type="text/javascript"></script>

<!--系统管理-->

