<%inherit file="/base.html"/>

<script src="${STATIC_URL}client/controllers/home.js" type="text/javascript"></script>
<script src="${STATIC_URL}client/controllers/site.js" type="text/javascript"></script>

<!--图表控件-->
<script type="text/javascript" src="${STATIC_URL}js/highcharts/highcharts.js"></script>
<script type="text/javascript" src="${STATIC_URL}js/highcharts/highcharts-3d.js"></script>
<script type="text/javascript" src="${STATIC_URL}js/highcharts/exporting.js"></script>
<script type="text/javascript" src="${STATIC_URL}js/highcharts/highcharts-more.js"></script>
<script type="text/javascript" src="${STATIC_URL}js/highcharts/solid-gauge.js"></script>

<!--此处添加js-->
<!--申请管理-->
<script type="text/javascript" src="${STATIC_URL}client/controllers/applyManagement/applyListCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/applyManagement/completedApplyCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/applyManagement/approveApplyCtrl.js"></script>
<script src="${STATIC_URL}client/controllers/user_pages/checkApplyCtrl.js" type="text/javascript"></script>

<!--IP管理-->
<script type="text/javascript" src="${STATIC_URL}client/controllers/ipManagement/segmentManagementCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/ipManagement/subjectsegMangeCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/ipManagement/addIPsCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/ipManagement/assignationListCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/ipManagement/modifyIPsCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/ipManagement/excludeIPCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/ipManagement/IPmodifyCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/ipManagement/usableIPCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/ipManagement/ipAllCtrl.js"></script>

<!--系统管理-->
<script type="text/javascript" src="${STATIC_URL}client/controllers/sysManagement/mailAddCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/sysManagement/mailManagementCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/sysManagement/mailModifyCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/sysManagement/operationLogCtrl.js"></script>

<!--IP资源池管理-->
<script type="text/javascript" src="${STATIC_URL}client/controllers/ipPoolManagement/modifyIPPool.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/ipPoolManagement/addIPPool.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/ipPoolManagement/ipPoolList.js"></script>

<script type="text/javascript" src="${STATIC_URL}client/controllers/ipAllocation/ipAllocation.js"></script>