<div style="color: #333">
    <div dragable dialog-title="{{ title }}">
    </div>
    <div style="margin-bottom: 10px;padding-top:15px;">
        <div style="width:100%;padding:5px;" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">IP资源池：</label>
                <div class="col-sm-7">
                    <select class="form-control" ng-model="ipObj.ip_pool_id" ng-options="i.id as i.text for i in ip_pool_list"></select>
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">起始IP：</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control"
                           ng-model="ipObj.start_ip"/>
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">结束IP：</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control"
                           ng-model="ipObj.end_ip"/>
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">业务系统：</label>
                <div class="col-sm-7">
                    <input ng-disabled="flag" type="text" class="form-control" ng-model="ipObj.business"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">管理员：</label>
                <div class="col-sm-7">
                    <input cw-selectstr2="userOption" type="text" style="width: 100%;"
                           ng-model="ipObj.owner"/>
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">过期时间：</label>
                <div class="col-sm-7">
                    <input ng-disabled="flag" type="text" class="form-control" ng-model="ipObj.when_expired"
                           cw-datepicker/>
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">描述：</label>
                <div class="col-sm-7">
                    <textarea ng-disabled="flag" class="form-control" style="height: 60px !important;"
                              ng-model="ipObj.description"/>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <button class="btn btn-sm btn-info" ng-click="confirm()">
                确定
            </button>
            <button style="margin-left: 10px;" class="btn btn-sm btn-default" ng-click="cancel()">
                取消
            </button>
        </div>
    </div>
</div>
