<div style="width:100%;overflow-y: auto;">
    <fieldset class="fieldsetName">
        <legend style="">查询条件</legend>
        <div class="container-fluid">
            <div style="float:left;">
                <label style="float:left;margin-top: 5px;">IP：</label>
                <input type="text" ng-model="filterObj.ip" style="width:150px;float:left;"
                       class="form-control"/>
            </div>
            <div style="float:left;margin-left: 5px;">
                <label style="float:left;margin-top: 5px;">IP资源池：</label>
                <select class="form-control" style="width: 150px;" ng-model="filterObj.ip_pools">
                    <option value="">全部</option>
                    <option ng-repeat="i in pool_list" value="{{ i.id }}">{{ i.name }}</option>
                </select>
            </div>
            <div style="float:left;margin-left:15px;">
                <button ng-click="searchList()" class="btn btn-sm btn-info">查询</button>
            </div>
            <div style="float:right;margin-left:15px;">
                <button class="btn btn-sm btn-primary" ng-click="down_cvs()">导出</button>
            </div>
            <div style="float:right;margin-left:15px;">
                <button ng-click="sync_cmdb()" class="btn btn-sm btn-primary">同步CMDB信息</button>
            </div>
        </div>
    </fieldset>
    <div cw-adaptbody="100" ng-grid="gridOption"
         style="width:100%;overflow-y: auto;overflow-x: hidden"></div>
</div>

